root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# YAML / Compose
[*.{yml,yaml}]
indent_size = 2

# Root compose file
[compose.yaml]
indent_size = 2

# Alloy config
[*.alloy]
indent_size = 2

# Environment files
[*.env]
indent_size = 2

# Shell scripts
[*.sh]
indent_size = 2
